body{
    margin: auto;
    background-color: lemonchiffon;
}

/* calculator section css */
#calculatorheading{
    height: 52px;
    width: 55%;
    /* border: 5px solid blue; */
    margin-left: 25%;
    margin-top: 2%;
    font-size: 32px;
    font-family: serif;
    text-align: center;
}


#calculatorouter{ 
    height: 440px;
    width: 80%;
    /* border: 5px solid red; */
    margin-left: 12%;
    margin-top: 1%;
}

#calculatorinner{
    height: 410px;
    width: 80%;
    /* border: 2px solid orange; */
    margin-left: 12%;
    margin-top: 1%;
    box-shadow: 10px 10px 10px rgb(69, 69, 60);
    background-color: linen;
}

#calculatorinnerinputbox{
    height: 70px;
    width: 98%;
    /* border: 2px solid black; */
    margin-left: 1%;
    margin-top: 3%;

}

#calculatorinnerinputbox input{
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 26px;
    font-family: serif;
    padding-left: 3%;
}

#calculatorinnerbuttonbox{
    height: 315px;
    width: 100%;
    /* border: 5px solid yellow; */
    margin-left: 2%;
    margin-top: 1%;
}

.calculatorinnerbuttonboxsize{
    display: inline-block;
    height: 45px;
    width: 22%;
    border: 1px solid black;
    margin-left: 1%;
    margin-top: 2%;
}


.calculatorinnerbuttonboxsize button{
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    font-size: 20px;
    text-align: center;
    font-family: serif;
    border: none;
}

.calculatorinnerbuttonboxsize button:hover{
    background-color: lightyellow;
    color: goldenrod;
}